/* לדוגמה: src/App.css או src/index.css */

body {
  margin: 0;
  font-family: 'Heebo', sans-serif; /* הפונט 'Heebo' מיושם כאן */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgb(198, 163, 142);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}